<div class="flex-quick" style="border: steelblue 1px solid;">
    <div style="flex:0 0 auto;border:1px solid red;">1</div>
    <button nz-button nz-popover [nzPopoverTitle]="titleTemplate"  [nzPopoverContent]="contentTemplate" nzPopoverTrigger="hover">
      Hover me
    </button>
    <ng-template #titleTemplate>
        <i nz-icon nzType="border" nzTheme="outline"></i>
        <span style="margin-left:5px;">icon</span>
      </ng-template>
    <ng-template #contentTemplate>

      <comm-icon></comm-icon>
    </ng-template>
</div>
<!-- <div style="background: #ECECEC; padding: 30px;">
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-card>
          <nz-statistic
            [nzValue]="11.28 | number: '1.0-2'"
            [nzTitle]="'Active'"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#3F8600' }"
          >
          </nz-statistic>
          <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-card>
          <nz-statistic
            [nzValue]="9.3 | number: '1.0-2'"
            [nzTitle]="'Idle'"
            [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }"
          >
          </nz-statistic>
          <ng-template #prefixTplTwo><i nz-icon nzType="arrow-down"></i></ng-template>
        </nz-card>
      </nz-col>
        <nz-col [nzSpan]="12">
          <nz-card>
            <nz-statistic
              [nzValue]="11.28 | number: '1.0-2'"
              [nzTitle]="'Active'"
              [nzPrefix]="prefixTplOne"
              [nzSuffix]="'%'"
              [nzValueStyle]="{ color: '#3F8600' }"
            >
            </nz-statistic>
            <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
          </nz-card>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-card>
            <nz-statistic
              [nzValue]="9.3 | number: '1.0-2'"
              [nzTitle]="'Idle'"
              [nzPrefix]="prefixTplTwo"
              [nzSuffix]="'%'"
              [nzValueStyle]="{ color: '#CF1322' }"
            >
            </nz-statistic>
            <ng-template #prefixTplTwo><i nz-icon nzType="arrow-down"></i></ng-template>
          </nz-card>
        </nz-col>
    </nz-row>
  </div> -->