<!-- <div class="blog-menu" nz-menu nzMode="inline"  [nzInlineCollapsed]="isCollapsed" nzMatchRouterExact style="flex:1 0 auto;border:none;">
    <div nz-menu-item nzMatchRouter nzSelected >
        <i nz-icon nzType='home'nzTheme='outline'></i>{{isCollapsed ? '' : '主页'}}
        <a [routerLink]="['/learnadmin/home']"></a>
    </div>
    <div nz-submenu  nzTitle='用户管理' nzIcon='user'>
        <div nz-menu-item nzMatchRouter nzSelected  >
            <a [routerLink]="['/learnadmin/user/list']">用户列表</a>
        </div>
        <div nz-menu-item nzMatchRouter nzSelected >
            <a [routerLink]="['/learnadmin/user/no']">待开发...</a>
        </div>
    </div>
    <div nz-submenu nzTitle='博客管理' nzIcon='form'>
        <div nz-menu-item   (click)="menuClick('learnadmin/blog/list')">博客列表</div>
        <div nz-menu-item   (click)="menuClick('learnadmin/blog/audit')">待审核</div>
    </div>
    <div nz-submenu nzTitle='模板管理' nzIcon='edit'>
        <div nz-menu-item   (click)="menuClick('learnadmin/template/list')">模板列表</div>
        <div nz-menu-item   (click)="menuClick('learnadmin/template/no')">待开发...</div>
    </div>
    <div nz-submenu nzTitle='广告管理' nzIcon='notification'>
        <div nz-menu-item   (click)="menuClick('learnadmin/advert/list')">广告列表</div>
        <div nz-menu-item   (click)="menuClick('learnadmin/advert/audit')">广告审核</div>
    </div>
    <div nz-submenu nzTitle='日志管理' nzIcon='file'>
        <div nz-menu-item   (click)="menuClick('learnadmin/loginlog/list')">登录日志</div>
        <div nz-menu-item   (click)="menuClick('learnadmin/operatelog/list')">操作日志</div>
    </div>
    <div nz-submenu nzTitle='权限管理' nzIcon='key'>
        <div nz-menu-item   (click)="menuClick('learnadmin/admin/auth')">管理员权限</div>
        <div nz-menu-item   (click)="menuClick('learnadmin/menu/auth')">菜单权限</div>
    </div>
    <div nz-submenu nzTitle='其他' nzIcon='setting'>
        <div nz-menu-item  (click)="menuClick('learnadmin/sys/setting')">系统设置</div>
        <div nz-menu-item  (click)="menuClick('learnadmin/clear/cache')">清除缓存</div>
    </div>
</div> -->
<ul *ngFor="let item of treeData" nz-menu [nzInlineCollapsed]="isCollapsed" style="flex:1 0 auto;border: none;" nzMode="inline">
    
    <li *ngIf="item.children.length == 0" [nzMatchRouterExact]="true" nz-menu-item [nzPaddingLeft]="1 * 24">
        <i nz-icon [nzType]="item.icon.type"></i>
        <span>{{!isCollapsed ? item.title : ''}}</span>
        <a [routerLink]="'/'+item.routerUrl"></a>
    </li>

    <li *ngIf="item.children.length > 0" nz-submenu [nzTitle]="item.title" [nzIcon]="item.icon.type">
        <!-- <ul> -->
            <menu-tree #menuTree [treeData]='item.children' ></menu-tree>
        <!-- </ul> -->
    </li>
</ul>

<!-- <li *ngFor="let item of treeData">
	<span>{{item.title}}</span>
	<ul *ngIf="item.children" [treeData]="item.children" menu-tree></ul>
</li> -->




<!-- <li  nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
    <ul>
      <li nz-menu-item>Option 5</li>
      <li nz-menu-item>Option 6</li>
      <li nz-submenu nzTitle="Submenu">
        <ul>
          <li nz-menu-item>Option 7</li>
          <li nz-menu-item>Option 8</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li> -->