<div class="flex-column mx-start sx-stretch quick-login">
  <div class="flex-column mx-center sx-stretch" style="flex: 0 1 800px;">
    <div class="flex-txt-top-center" style="flex:0 1 440px;">
      <div class="flex-column mx-start sx-stretch"
        style="width: 400px;height: 440px;margin: 5px;border-radius: 8px;background-color: #fff;">
        <div class="flex-txt-center" style="flex:0 0 120px;margin: 5px;">
          <div
            style="width: 100px;height: 100px;background-image: url(/assets/imgs/quick_login_logo.png);background-size: 100% 100%;background-repeat: no-repeat;">
          </div>
        </div>
        <div class="flex-txt-center" style="flex:0 0 40px;margin:10px 5px;">欢迎使用 Quick-Learn 博客管理系统</div>

        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" style="margin: 0px 30px;">

          <nz-form-item >
            <nz-form-control nzErrorTip="名字还是要有的啦">
              <nz-input-group nzPrefixIcon="user">
                <input formControlName="userName" nz-input placeholder="请输入用户名" />
              </nz-input-group>
            </nz-form-control>
            
          </nz-form-item>


          <nz-form-item >
            <nz-form-control  nzErrorTip="密码不能少">
              <nz-input-group nzPrefixIcon="lock">
                <input formControlName="password" nz-input type="password" placeholder="请输入密码" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item >
            <nz-form-control nzErrorTip="验证码也要有" >
              <div class="flex-row mx-start sx-start">
                <div style="flex: 1 1 auto;">
                  <nz-input-group nzPrefixIcon="safety">
                    <input formControlName="verify" nz-input placeholder="请输入验证码" />
                  </nz-input-group>
                </div>
                <div style="flex: 0 0 120px;margin-left: 5px;">
                  <a><img (click)="getImgVerify" style="width: 120px;" [src]="imgVerify" alt="验证码"></a>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item style="margin-bottom:0px;">
            <nz-form-control>
              <button nz-button nzBlock [nzLoading]="loginbtnLoading" nzType="primary">
                {{loginbtnLoading ? '登录中' : '登 录'}}
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
  </div>
</div>