<div class="flex-row mx-start sx-start wrap" style="width: 350px;">
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>

    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    <div class="pgcomm-icon flex-txt-center">1</div>
    


</div>