<div class="flex-row mx-start sx-stretch" style="height: 100%;">
    <div class="flex-column mx-start sx-stretch" [ngStyle]="{'flex': style,'background-color':'#FCFCFC'}">
      <!-- 菜单列表 -->
      <div class="flex-column mx-start sx-stretch"  style="flex:1 1 auto;margin: 5px 5px;">
        <div class="flex-txt-center" style="flex:0 0 50px;border-radius:4px;margin-bottom:5px;
                  font-family:Arial,Helvetica,sans-serif;
                  font-size:1.5em;
                  vertical-align:middle;
                  font-weight:normal;
                  color: rgba(00, 00, 00, 0.45);
                  background-image: url('../../../assets/imgs/users/timg.jpg');
                  background-size:100% 100%;
                  background-repeat:no-repeat;">
              {{isCollapsed ? 'Q':'QuickLearn'}}
        </div>

        
        <div class="flex-column mx-start sx-stretch" style="flex:1 1 auto;">
          <ul class="blog-menu" style="flex:1 1 auto;" (nzClick)="menuClick($event)" nz-menu nzMode="inline"  [nzInlineCollapsed]="isCollapsed" [nzTheme]="'light'">
            
            <!-- ng-container 在界面上是没有任何意义的，在浏览器的审查元素中，无法看到它，container意思就是容器。只装东西，不会显示 -->
            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menuData }"></ng-container>
            <ng-template #menuTpl let-menuData>
              <ng-container *ngFor="let item of menuData">
                <li *ngIf="item.children.length == 0" nz-menu-item nzMatchRouter (click)="itemMenuClick(item.fid)"  [nzPaddingLeft]="item.lev * 24">
                    <i nz-icon [nzType]="item.icon.type"></i>
                    <span>{{item.title }}</span>
                    <a [routerLink]="'/' + item.routerLink"></a>
                </li>
            
                <li *ngIf="item.children.length > 0" nz-submenu [nzOpen]="item.isOpen" [nzPaddingLeft]="item.lev * 24" [ngStyle]="{'color': item.color}" [nzTitle]="item.title" [nzIcon]="item.icon.type">
                    <ul>
                      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: item.children }"></ng-container>
                    </ul>
                </li>
              
              </ng-container>
            </ng-template>
          </ul> 
        </div>

      </div>
      
      <div class="flex-txt-center" style="flex:0 0 40px;box-shadow: 0.5px #888888;" (click)="doMenuSetting()">
        <i style="font-size: 16px;" [ngStyle]="{'color': themeColor}" nz-icon [nzType]=" isCollapsed ? 'left' : 'right'" nzTheme="outline"></i>
      </div>

    </div>
  
    <!-- 第二部分 单页展示 -->
    <div class="flex-column mx-start sx-stretch" style="flex:1 1 auto;background-color: #F0F2F5;min-width: 100px;max-width: 100%;overflow-x: auto;">
  
      <div class="flex-row mx-start sx-center" style="flex: 0 0 60px;margin:10px 15px;border-radius: 4px;background-color:#FFF;">
  
        <div class="flex-txt-center" style="flex:1 1 auto;height:55px;margin:10px 0px;">
          
        </div>
        <!-- 头像地址 -->
        <div class="flex-row mx-end sx-center" style="flex:0 0 30%;height:55px;margin-left:20px;">
          <div class="flex-txt-center" style="flex:0 auto;height: 100%;">
            <nz-avatar nzIcon="user" [nzSize]="30" nzSrc="../../../assets/imgs/users/user-h-img.jpg"></nz-avatar>
          </div>
          <div class="flex-txt-center" style="flex:0 0 60px;height:100%;">
            <button style="overflow: hidden;color:rgba(00, 00, 00, 0.45)" nzType="link" nzSize="small" nz-button
              nzTrigger="hover" nzPlacement="bottomCenter" nz-dropdown [nzDropdownMenu]="menu">
              Admin
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="openUserInfo()">个人信息</li>
                <li nz-menu-item>密码修改</li>
                <li nz-menu-item>账号绑定</li>
                <li nz-menu-item>退出</li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
  
      <!-- 主体内容 -->
      <div class="flex-column mx-start sx-stretch" style="flex: 1 1 auto;margin:10px 15px;border-radius: 4px;background-color:#FFF;">
        <router-outlet style="display: none;"></router-outlet>
      </div>
  
      <!-- 尾部 -->
      <div class="flex-column mx-center sx-stretch" style="flex: 0 0 60px;margin:5px 15px 20px 15px;border-radius: 4px;background-color:#FFF;">
        <div class="flex-row mx-center sx-center wrap" style="flex:0 0 auto;font-size: 14px;">
          <div style="flex:0 1 auto;margin:0px 5px;">纸上得来终觉浅，绝知此事要躬行<i style="margin: 0px 5px;" nz-icon [nzType]="'smile'" [nzTheme]="'twotone'"></i></div>
        </div>
      </div>

    </div> 
  </div>