<div class="flex-quick">
    <div style="flex:0 0 80px;background-color: #fff;margin-bottom: 10px;border-radius: 4px;">{{pageSizeOptions}}</div>
    <div style="flex:1 1 auto;background-color: #fff;border-radius: 4px;">
        <nz-table 
            nzSize="middle" 
            [nzData]="listOfData"
            [nzLoading]="'false'"
            nzShowSizeChanger
            nzHideOnSinglePage
            [nzPageSizeOptions]="pageSizeOptions"  #basicTable >
            <thead>
                <tr>
                    <th nzShowCheckbox nzWidth="80px"></th>
                    <th [nzAlign]="'left'" nzWidth="100px">名称</th>
                    <th [nzAlign]="'center'">年龄</th>
                    <th [nzAlign]="'left'">地址</th>
                    <th [nzAlign]="'center'" nzWidth="200px">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td nzShowCheckbox></td>
                    <td [nzAlign]="'left'">{{ data.name }}</td>
                    <td [nzAlign]="'center'">{{ data.age }}</td>
                    <td [nzAlign]="'left'">{{ data.address }}</td>
                    <td [nzAlign]="'center'">
                        <button nz-button nzSize="small" style="margin:0px 5px;" nzType="default">修改</button>
                        <button nz-button nzSize="small" style="margin:0px 5px;" nzType="danger">删除</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>